Library/ScriptAssemblies/Unity.Timeline.pdb
/Library
/.vs/NightFall_Z
/.vs/NightFall_Z/CopilotIndices/17.14.786.1071
.vs/NightFall_Z/FileContentIndex/66dc54e7-d09e-4531-b7b6-e87ecb8ca3e6.vsidx
.vs/NightFall_Z/FileContentIndex/66dc54e7-d09e-4531-b7b6-e87ecb8ca3e6.vsidx
.vs/NightFall_Z/CopilotIndices/17.14.786.1071/CodeChunks.db
